page-start {

.mybtn {
   text-transform: none;
    font-weight: normal;
}

.AnswerBorder {
    border: 1px solid #ccc;
    border-radius: 10px;
}

.correctAnswer {
    border: 2px solid green;

}

.yourAnswer {
    border: 2px solid red;
 
	 
}



}