page-menu {


.my-align {
    width: 100%;
    height: 80%;
  
    display: flex;
   
     align-items: center;
	  padding-right: 10%;
	  padding-left: 10%;
}

.my-align btn{
   
     align-content: center;
     
    
}

.center {

  
    margin: auto;
     width :100%;
     padding: 50% 10% 50% 10%;
	  
}

}
